@charset "ISO-8859-1";

body
{
    background-color: #fafafa;
}

#titre
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: Navy;
}

#conteneur
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color : blue;
}
#fromMetier
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color : #237a8f;
}
a {
	float:right;
}
.hide {
	display: none;
}