* {
	box-sizing: border-box;
}
html{
    height:100%;	
}

body{
    height:100%;
    margin:0;
}

#Parcours
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: solid 1px #102047;
    color:white;
    width:20%;
	background-color:#809ff7;
}
#ajouteConcept{
	align-items: right;
	margin-left: 100px;
	
}
#ajouePrerequis{
	align-items: right;
	margin-left: 100px;
	
}

#modulesetconcepts
{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    /*margin: 2em auto;*/
    position: relative;
	z-index: 1;
	background: #FFFFFF;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width: 60%;
	margin: auto;
	color: #2C9AB7;
}
#selectAjouteConcept, #ajouePrerequis, #ConceptsPrerequi, #ConceptsParcours {
	text-align: left;
}

.positionParcour{
	padding: 1em 0;
	cursor: pointer;
	text-align: center
}

#Orbis{
	width:80%;
    justify-content: center;
	align-items:center;
	display: flex;
	color:#B0C4DE;
}

#bouton{
	width:6em;
	height:6em;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
 
.positionParcour:hover{
	background-color:#809ff7;
}

#blockNoirPlusclaire{
	width:20%;
	background-color:#809ff7;
}

#dessus{
	height:5%;
	display:flex;
	background-color:#809ff7;
}

#ajoueSupression{
	height:90%;
    overflow: auto;
	
}

#vision{
    overflow: auto;
	
}
.head {
	display: flex;
    align-items: center;
	height: 8em;
	background-color: #809ff7;
	box-shadow:0 0 20px 0 rgba(100, 100, 100, 0.2), 0 6px 25px 0 rgba(100, 100, 100, 0.5);
}
.head img {
	height: 50%;
	margin-left: 5%;
}
.head .titre
{
	width: 100%;
    position: absolute;
    text-align: center;
}
.head .titre h1 {
	font-size: 40px;
}
.head .titre h1, .head .titre h2
{
	margin: 0;
	color: #102047;
}
.head a {
	position: absolute;
    right: 0em;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow:0 0 20px 0 rgba(100, 100, 100, 0.2), 0 6px 25px 0 rgba(100, 100, 100, 0.5);
    text-decoration: none;
    color: #102047;
    margin-right:5%;
}

